

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}



#upload-btn {
  display: block;
  width: 200px;
  max-width: 80%;
  background: #ff8503;
  color: #fff;
  padding: 12px;
  margin: 10px auto;
  border-radius: 5px;
}

#crop-btn {
  display: block;
  width: 200px;
  max-width: 80%;
  background: #ff8503;
  color: #fff;
  padding: 12px;
  margin: 10px auto;
  border-radius: 5px;
}

#downloadbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: none;
}

#card-image {
  position: absolute; /* Add absolute positioning to the logo */
  top: 11px;
  right: 11px; /* Adjust the right distance */
  width: 76px; /* Adjust the width */
  height: auto; /* Maintain the aspect ratio */
}
#card-image2 {
  position: absolute; /* Add absolute positioning to the logo */
  top: 10px;
  left: 10px; /* Adjust the right distance */
  width: 50px; /* Adjust the width */
  height: auto; /* Maintain the aspect ratio */
}

#profile-pic {
  position: absolute; /* Add absolute positioning to the logo */
  top: -28px;
  left: 5px;
}

.card {
  position: relative;
  width: 370px;
  height: 370px;
  max-width: 400px;
  background: #ff8503 !important;
  border-radius: 0px;
  text-align: center;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-image1 {
  position: absolute;
  right: 1px;
  bottom: -3px;
  height: 350px;
  /* height: 100%; */
  width: 350px;
}
