#upload-btn {
  display: block;
  width: 200px;
  max-width: 80%;
  background-image: linear-gradient(315deg, #f53803 0%,  #f5a720 74%);
  color: #fff;
  padding: 12px;
  margin: 10px auto;
  border-radius: 5px;
}

