* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  height: 70vh;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.h1 {
  position: absolute;
  top: 10px;
  font-weight: bold;
  color: #b35c00;
}

#profile-pic {
  width: 80%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  margin-top: 40px;
  border:3px solid  #ffffff;
}

label {
  display: block;
  width: 200px;
  max-width: 80%;
  background: #ff8503;
  color: #fff;
  padding: 12px;
  margin: auto;
  border-radius: 5px;
  text-align: center; /* center align text */
}

#upload-btn {
  display: block;
  width: 200px;
  max-width: 80%;
  background: #ff8503;
  color: #fff;
  padding: 12px;
  margin: 10px auto;
  border-radius: 5px;
}

#crop-btn {
  display: block;
  width: 200px;
  max-width: 80%;
  background: #ff8503;
  color: #fff;
  padding: 12px;
  margin: 10px auto;
  border-radius: 5px;
}

#downloadbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: none;
}

#card-image {
  position: absolute; /* Add absolute positioning to the logo */
  top: 11px;
  right: 11px; /* Adjust the right distance */
  width: 76px; /* Adjust the width */
  height: auto; /* Maintain the aspect ratio */
}
#card-image2 {
  position: absolute; /* Add absolute positioning to the logo */
  top: 10px;
  left: 10px; /* Adjust the right distance */
  width: 50px; /* Adjust the width */
  height: auto; /* Maintain the aspect ratio */
}

#profile-pic {
  position: absolute; /* Add absolute positioning to the logo */
  top: -28px;
  left: 5px;
}

.card {
  position: relative;
  width: 370px;
  height: 370px;
  max-width: 400px;
  background: #ff8503 !important;
  border-radius: 0px;
  text-align: center;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-image1 {
  position: absolute;
  right: -17px;
  bottom: -16px;
  width:200px;
  height: 250px;
  
  
}

